@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.services {
    @include mainBlock;

    &__l {
       @include leftBlock
    }

    &__infos {
        @include infoBlock;
    }

    &__title {
       @include titleBlock;
    }

    &__label {
       @include label;
    }

    &__subTitle {
        @include bioBlock;
    }

    &__btn {
        width: 100px;
        height: 100px;
        border: 1px solid #000;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-top: 40px;
    }

    &__btn-icon {
        border: 1px solid #000;
        border-radius: 50%;
        padding: 1rem;
        font-size: 4rem;
    }
    
    &__r {
        @include rightBlock;
    }

    &__service {
        border-top: 2px solid #000;
        padding-top: 5px;
        position: relative;
        padding: 15px 10px;
    }

    &__service:not(:last-of-type) {
        margin-bottom: 30px;
    }

    &__details {
        display: flex;
    }
    
    &__service-num {
        margin-right: 15px;
    }

    &__service-link {
        position: absolute;
        bottom: -10px;
        right: 0;
        width: 2rem;
        height: 2rem;
        background-color: rgb(23, 58, 255);
        color: $light-green;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    &__service-name {
        font-size: 1.4rem;
        font-weight: 600;
    }
}