.social {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 2%;
    margin-bottom: 10px;

    &__title {
        margin-right: 30px;
        font-size: .7rem;
    }
    &__icons:not(:last-child) {
        margin-right: 30px;
    }
    &__icon {
        width: 20px;
        display: block;
    }
}