@import "./variables.scss";

* {
    margin: 0;
    padding: 0;  
}
 /* this inherit box-sizing from html */
 *,
 *::after,
 *::before {
    box-sizing: inherit;
 }
 html {
     box-sizing: border-box;
     font-size: 62.5%; /* 10 / 16 = 62.5%, so 1rem = 10px*/
 }
 body {
    font-family: $Overpass;
    width: 100%;
    color: $dark;
    overflow-x: hidden;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.6;
 }
 
h1,h2,h3,ul,p {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    outline: none;
    font-family: inherit;
    background-color: transparent;
    border: none;
}

.container {
    border: 3px dotted #471;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

