@import "./variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $Poppins;
    width: 100%;
    color: $dark;
}

#root {
    height: 100%;
}
a {
    color: $dark;
    text-decoration: none;
}

button {
    cursor: pointer;
    outline: none;
    font-family: inherit;
}