@import "./variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: $Poppins;
    width: 100%;
    color: $dark;
    font-size: 15px;

    @media screen and (min-width : $screen-sm) {
        font-size: 16px;
    }

    @media screen and (min-width : $screen-md) {
        font-size: 18px;
    }

    @media screen and (min-width : $screen-lg) {
        font-size: 20px;
    }
}

#root {
    height: 100%;
}
a {
    color: $dark;
    text-decoration: none;
}

button {
    cursor: pointer;
    outline: none;
    font-family: inherit;
    background-color: transparent;
    border: none;
}