@import "./variables.scss";
@import "./base.scss";


h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

a {
    font-size: 1.5rem;
}

button {
    font-size: 1.5rem;
}

@media screen and (min-width : 768px) {
    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 2.5rem;
    }
    
    p {
        font-size: 1.7rem;
    }
    a {
        font-size: 1.7rem;
    }
    button {
        font-size: 1.7rem;
    }
    .container {
        width: 80%;
    }
}

@media screen and (min-width : 1024px) {
    h1 {
        font-size: 5rem;
    }
    
    h2 {
        font-size: 3rem;
    }
    
    p {
        font-size: 2rem;
    }
    button {
        font-size: 2rem;
    }
}

@media screen and (min-width : 1200px) {
    h1 {
        font-size: 6.4rem;
    }
    
    h2 {
        font-size: 4rem;
    }
    
    p {
        font-size: 2.4rem;
    }

    .container {
        width: 80%;
    }
    button {
        font-size: 2rem;
    }

}


