/*font*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,700&display=swap');
$Poppins: "Poppins", sans-serif;

/*colors*/
$yellow: #f5c842;
$light-green: #a1ffc6;
$light: #fff; 
$dark: rgb(29, 29, 29);
$grey: rgb(175, 175, 175);

/*seprators*/

$m-1: 5px;
$m-2: 10px;
$m-3: 20px;

$p-1: 5px;
$p-2: 10px;
$p-3: 20px;


@mixin breakpoint($point) {
    @if $point == md {
        @media (min-width: 48em) {
            @content;
        }
    }
}