
/*font*/
$Overpass: 'Overpass', sans-serif;

/*colors*/
$yellow: #f5c842;
$blue: #426ff5;
$light-green: #a1ffc6;
$light: #fff; 
$dark: rgb(29, 29, 29);
$grey: rgb(175, 175, 175);
$warn: rgb(200, 18, 18);


/*seprators*/

$m-1: 5px;
$m-2: 10px;
$m-3: 20px;
$m-4: 30px;


$p-1: 5px;
$p-2: 10px;
$p-3: 20px;
$p-4: 30px;

/*break points*/
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1200px;
$screen-xl: 1600px;

/*fixed heights*/
$header-height: 70px;


@mixin breakpoint($point) {
    @if $point == md {
        @media (min-width: 48em) {
            @content;
        }
    }
}