@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';
.skills {
    /* @include mainBlock; */
    background-color: #fff;

    &__l {
        /* @include leftBlock; */
    }

    &__info {
      /*   @include infoBlock; */
    }

    &__title {
        /* @include titleBlock; */
    }

    &__label {
        /* @include label */
    }

    &__subTitle {
        /* @include bioBlock; */
    }

    &__skills {
        /* display: flex;
        flex-direction: column */
    }
    &__group-title {
        /* margin-bottom: 20px; */
    }
    &__group {
        /* display: flex;
        flex-wrap: wrap;
        justify-content: space-between; */
    }

    &__skill {
        /* min-width: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px; */
    }

    &__nm {
        /* font-size: .5rem; */
    }

    &__image {
        /* width: 40px;
        height: 40px;
        margin-bottom: 15px */
    }


    /* &__r {
        @include rightBlock;

        &__title{
            font-size: 1.4rem;
            margin-bottom: 15px;
        }
    } */

    &__details {
        display: flex;

    }

    &__detail {
        display: flex;
        align-items: center;
        border-top: 1px solid #000;
        padding: 20px 10px;
        width: 100%;
    }
    &__date {
        margin-right: 30px;
        font-size: .7rem;
    }

    &__desc {
        font-size: 1rem;
        width: 60%;

        &__company {
            font-size: .7rem;
            padding-top: 12px;
        }
    }
}