@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';
.skills {
    @include mainSection;
    padding-top: $p-4;
    background-color: #fff;

    &__group {
        @include mainBlock;
        align-items: initial;
        padding: 0 $m-2;
    }

    &__l {
        @include leftSectionPart;
        padding: 0;
    }

    &__infos {
        @include leftInfos;
    }
    &__info {
      /*   @include infoBlock; */
    }

    &__title {
        @include sectionTitle;
    }

    &__subTitle {
        @include subTitle;
    }

    &__collections {
        display: flex;
        flex-direction: column;
        padding: 0 $p-3;

        &__title {
            text-align: left;
           margin-bottom: $m-3; 
        }
    }
    &__collection {
       display: flex;
       align-items: center;
       justify-content: space-between;
       flex-wrap: wrap;
       padding: 0 $p-3;
    }

    &__skill {
        min-width: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    &__nm {
        /* font-size: .5rem; */
    }

    &__image {
        width: 20px;
        height: 20px;
        margin-bottom: 15px
    }


    &__r {
        display: flex;
        flex-direction: column; 
        padding: $p-3;
        margin-bottom: $m-4;

        &__title {
            margin-bottom: $m-3;
        }
    }

    &__details {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__detail {
        display: flex;
        align-items: center;
        border-top: 1px solid #000;
        padding: $p-2;
        width: 100%;
    }
    &__date {
        margin-right: 30px;

        &-from {
            /* color: $yellow; */
        }

        &-to {

        }
    }

    &__desc {
        width: 60%;

        &__company {
            padding-top: 12px;
            color: $blue;
            font-weight: 600;
        }
    }
}