@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.about {
    border: 2px dashed rgb(255, 24, 255);
    position: relative;
    height: calc(100vh - #{$header-height});
    @include breakpoint(md) {
        padding: 0 4rem;
    }

    &__infos {
        border: 2px solid #ff0000;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: $p-1;
        @include breakpoint(md) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__info {
        border: 2px solid #700000;
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: center;
    }
    &__label {
        position: absolute;
        top: -30px;
        left: -20px;
        transform: rotate(-30deg);
        color: darkblue;
    }
    &__title {
        font-weight: 600;
        margin-bottom:  $m-2;
        position: relative;

        &::before {
            content: 'Hello';
            left: 10%;
            top: -10%;
            color: red;
            transform: rotate(-30deg);
            position: absolute;
            font-size: 1.5rem;
        }
    }

    &__bio {
        position: relative;
        color: #333;
        margin-bottom:  $m-2;
    }
    &__image-box {
        text-align: center;
        @include breakpoint(md) {
            flex: 1;
        }
        
    }
    &__image {
        width: 100%;
        @include breakpoint(md) {
            width: 90%;
        }
    }

    &__btns {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__btn {
            width: 150px;
            border-radius: 5px;
            position: relative;
            margin-right: 15px;
            text-align: center;
            padding: $p-2 0;
            font-size: 1.7rem;
            font-weight: 400;
    }
    &__btn-talk {
        background-color: $blue;
        color: #fff;
    }

    &__talk-icon {
        color: $yellow;
    }

    &__btn-pfl{
        background-color: $yellow;
        color: $dark;
    }

    &__pfl-icon {
        color: $dark;
    }
    
    &__scroll {
        position: absolute;
        height: 70%;
        right: 2%;
        top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            color: rgb(167, 167, 167);
            font-size: 10px;
        }
    }
    &__vl {
        height: 100%;
        border-left: 1px solid rgb(199, 197, 197);
        margin-bottom: 10px;
    }
}



.btn-icon {
    font-size: .7rem;
    position: absolute;
    right: 6px;
    top: 15px;
}
