@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.about {
    position: relative;
    height: calc(100vh - #{$header-height});
    scroll-snap-align: start;
    @include breakpoint(md) {
        padding: 0 4rem;
    }

    &__infos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @include breakpoint(md) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__info {
        @include infoBlock;
    }

    &__image-box {
        text-align: center;
        @include breakpoint(md) {
            flex: 1;
        }
        
    }
    &__image {
        width: 50%;
        @include breakpoint(md) {
            width: 90%;
        }
    }

    &__label {
        position: absolute;
        top: -30px;
        left: -20px;
        transform: rotate(-30deg);
        color: darkblue;
    }
    &__title {
        font-size: 2rem;
        font-weight: 600;
    }
    &__bio {
        @include bioBlock;
    }
    &__btns {
        display: flex;
        width:60%;
        justify-content: space-between;
    }
    &__btn-talk {
        background-color: #4a22ff;
        color: #fff;
    }
    &__talk-icon {
        color: $yellow;
    }
    &__btn-pfl{
        background-color: $yellow;
        color: #312dff;
    }
    &__pfl-icon {
        color: $dark;
    }
    &__scroll {
        position: absolute;
        height: 70%;
        right: 2%;
        top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            color: rgb(167, 167, 167);
            font-size: 10px;
        }
    }
    &__vl {
        height: 100%;
        border-left: 1px solid rgb(199, 197, 197);
        margin-bottom: 10px;
    }
}
.btn {
    width: 150px;
    padding: .5rem  1.5rem;
    border-radius: 5px;
    position: relative;
    font-size: .5rem;
    margin-right: 15px;
    text-align: center;
    @include breakpoint(md) {
        font-size: .7rem;
    }
}
.btn-icon {
    font-size: .7rem;
    position: absolute;
    right: 6px;
    top: 15px;
}
