@import '../../styles/variables.scss';
.about {
    padding: 2rem .8rem;
    position: relative;
    height: calc(100vh - #{$header-height});
    @include breakpoint(md) {
        padding: 0 4rem;
    }

    &__infos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @include breakpoint(md) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        position: relative;
        text-align: center;
        margin: 20px 0;
        @include breakpoint(md) {
            text-align: left;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 0;
        }
    }

    &__image-box {
        text-align: center;
        @include breakpoint(md) {
            flex: 1;
        }
        
    }
    &__image {
        width: 50%;
        @include breakpoint(md) {
            width: 90%;
        }
    }

    &__hello {
        position: absolute;
        top: -30px;
        left: -20px;
        transform: rotate(-30deg);
        color: darkblue;
    }
    &__title {
        font-size: 20px;
        font-weight: 600;
        @include breakpoint(md) {
            font-size: 40px;
        }
    }
    &__bio {
        margin: 15px 0;
        width: 70%;
        position: relative;
        padding-left: 30px;
        color: #777;
        margin-bottom: 50px;
        &::before {
            content: '';
            width: 20px;
            height: 2px;
            background-color: #000;
            position: absolute;
            left: 0;
            top: 5px;
            }
    }
    &__btns {
        display: flex;
        width: 50%;
        justify-content: space-around;
    }
    &__btn-talk {
        background-color: #4a22ff;
        color: #fff;
    }
    &__talk-icon {
        color: $yellow;
    }
    &__btn-pfl{
        background-color: $yellow;
        color: #312dff;
    }
    &__pfl-icon {
        color: $dark;
    }
    &__scroll {
        position: absolute;
        right: 30px;
        top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            color: rgb(119, 119, 119);
            font-size: 14px;
        }
    }
    &__vl {
        height: 500px;
        border-left: 2px solid rgb(199, 197, 197);
        margin-bottom: 10px;
    }
}
.btn {
    padding: 1.2rem  2.8rem 1.2rem 2rem;
    border-radius: 5px;
    position: relative;
    font-size: .8rem;
    @include breakpoint(md) {
        font-size: 1rem;
    }
}
.btn-icon {
    font-size: 25px;
    position: absolute;
    right: 10px;
    top: 20px;
}