@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.about {
    @include mainSection;


    &__infos {
        @include mainBlock;
        @include breakpoint(md) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__info {
        @include leftSectionPart
    }
    &__label {
        position: absolute;
        top: -30px;
        left: -20px;
        transform: rotate(-30deg);
        color: darkblue;
    }
    &__title {
        @include sectionTitle;
    }

    &__subtitle {
        @include subTitle;
    }
    &__image-box {
        text-align: center;
        @include breakpoint(md) {
            flex: 1;
        }
        
    }
    &__image {
        width: 100%;
        @include breakpoint(md) {
            width: 90%;
        }
    }

    &__btns {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__btn {
            width: 150px;
            border-radius: 5px;
            position: relative;
            margin-right: 15px;
            text-align: center;
            padding: $p-2 0;
            font-size: 1.7rem;
            font-weight: 400;
    }
    &__btn-talk {
        background-color: $blue;
        color: #fff;
    }

    &__talk-icon {
        color: $yellow;
    }

    &__btn-pfl{
        background-color: $yellow;
        color: $dark;
    }

    &__pfl-icon {
        color: $dark;
    }
    
    &__scroll {
        position: absolute;
        height: 70%;
        right: 2%;
        top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            color: rgb(167, 167, 167);
            font-size: 10px;
        }
    }
    &__vl {
        height: 100%;
        border-left: 1px solid rgb(199, 197, 197);
        margin-bottom: 10px;
    }
}



.btn-icon {
    font-size: .7rem;
    position: absolute;
    right: 6px;
    top: 15px;
}
