@import '../../styles/variables.scss';
.nav {
    position: fixed;
        right: 100%;
        bottom: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: rgba($dark, 0.9);
        transform: translate(0);
        transition: 0.3s ease transform;
        &__isMenu {
            transform: translate(100%);
        }

        @include breakpoint(md) {
            transform: none;
            flex-direction: row;
            background: transparent;
            width: auto;
            height: 10%;
            position: static;
        }

        &__list {
            list-style: none;
            display: flex;
            flex-direction: column;
            padding: $p-1;

            @include breakpoint(md) {
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin-bottom: 0;
                margin-right: calc(0.5rem + #{$p-1});
            }
        }

        &__item {
            padding: 0.75rem 1.25rem;
        }
        &__item:not(:last-child) {
            margin-bottom: $m-2;
            @include breakpoint(md) {
                margin-bottom: 0;
                margin-right: $m-2;
            }
        }

        &__link {
            text-decoration: none;
            color: $yellow;
            @include breakpoint(md) {
                color: #000;
            }
        }

        &__btn {
            padding: 0.75rem 1.25rem;
            border-radius: 5px;
            font-size: 1rem;
            background-color: $yellow;
            color: $dark;
            border: 1px solid transparent;
            transition: 0.5s ease all;

            &:hover {
                border-color: $yellow;
                background-color: rgba($yellow, 0.1);
                color: $yellow;
            }
            &:active {
                border-color: $yellow;
                color: $yellow;
                background: linear-gradient(rgba($yellow, 0.1), rgba($yellow, 0.2));
            }
        }
        &__toggle {
            cursor: pointer;
            display: flex;
            align-items: center;
            font-size: 2rem;
            transition: 0.3s ease all;
            position: relative;
            
            &:hover {
                color: $yellow;
            }
            @include breakpoint(md) {
                display: none;
            }
        }
}