@import '../../styles/variables.scss';
.nav {
    position: fixed;
    right: 100%;
    bottom: 0;
    width: 100%;
    height: calc(100vh - #{$header-height});
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba($dark, 0.9);
    transform: translate(0);
    transition: 0.3s ease transform;
        &__isMenu {
            transform: translate(100%);
        }

        @include breakpoint(md) {
            transform: none;
            flex-direction: row;
            background: transparent;
            width: auto;
            height: $header-height;
            position: static;
        }

        &__list {
            display: flex;
            flex-direction: column;
            padding: $p-1;

            @include breakpoint(md) {
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin-bottom: 0;
                margin-right: calc(0.5rem + #{$p-1});
            }

            &__item {
                padding: $p-1 $p-2;
                font-size: 2rem;
                font-weight: 600;
            }
            &__item:not(:last-child) {
                margin-bottom: $m-2;
                @include breakpoint(md) {
                    margin-bottom: 0;
                    margin-right: $m-2;
                }
            }

            &__link {
                color: $yellow;
                @include breakpoint(md) {
                    color: #000;
                }
            }
        }

        &__toggle {
            cursor: pointer;
            display: flex;
            align-items: center;
            font-size: 2rem;
            transition: 0.3s ease all;
            position: relative;
            
            &:hover {
                color: $yellow;
            }
            @include breakpoint(md) {
                display: none;
            }
        }
}