@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.nav {
    position: fixed;
    right: 100%;
    bottom: 0;
    width: 100vw;
    min-height: calc(100vh - 50px);
    transform: translate(0);
    transition: 0.3s ease transform;
    display: flex;
    place-items: center;
    place-content: center;
    background-color: var(--clr-light-dark);

    @include breakpoint(md) {
        transform: none;
        flex-direction: row;
        width: auto;
        height: 50px;
        position: static;
        background-color: transparent;
    }

    &__isMenu {
        transform: translate(80%);
    }

    &__list {
        margin: 0;
        padding: 0;
        flex-direction: column;

        @include breakpoint(md) {
            flex-direction: row;
        }
    }

    &__toggle {
        cursor: pointer;
        @include breakpoint(md) {
            display: none;
        }
    }
}