@import "../../styles/variables.scss";

.header {
    border: 1px solid #000;
    width: 100%;
    height: $header-height;
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    transition: ease-in-out .5s;
    padding: $p-1 $p-2;
    @include breakpoint(md) {
        /* padding: 0 3rem; */
    }
    &__logo {
        border: 2px solid #505;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        &__link {
            
        }
        &__icon {
            color: $yellow
        } 
    }
}