@import "../../styles/variables.scss";

.header {
    width: 100%;
    height: $header-height;
    padding: 0 1.5rem;
    transition: ease-in-out .5s;
    @include breakpoint(md) {
        padding: 0 3rem;
    }
    &__content {
        overflow: hidden;
        height: 100%;
        max-width: 1920px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 100;
    }
    &__logo {
        cursor: pointer;
        font-size: 2rem;
        font-weight: bold;
        &-icon {
            color: $yellow
        }
    }
}